@media (min-width: 320px) and (max-width: 480px) {
  body {
    margin: 0;
    background-color: black;
    color: white;
  }
  #menu {
    background-color: #404040;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
  }
  #menu div {
    margin: 10;
  }
  #photos {
    display: flex;
    flex-direction: column;
    margin: 10;
    align-items: center;
  }
  #photos div {
    display: flex;
    flex-direction: column;
  }
  #photos img {
    height: 200;
    width: 200;
    margin: 10;
  }
  #photos label {
    height: 50;
    width: 200;
    margin: 10;
    text-align: center;
  }
}

@media (min-width: 1281px) {
  body {
    margin: 0;
  }
  #menu {
    background-color: #404040;
    color: white;
    display: flex;
    justify-content: space-evenly;
    height: 50;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    font-family: sans-serif;
  }
  #photos {
    display: flex;
    flex-wrap: wrap;
    margin: 10;
  }
  #photos div {
    display: flex;
    flex-direction: column;
  }
  #photos img {
    height: 200;
    width: 200;
    margin: 10;
  }
  #photos label {
    height: 50;
    width: 200;
    margin: 10;
    text-align: center;
  }
}

#container {
  display: flex;
  flex-direction: column;
}
